.benefits {
  padding: 0 0 65px;
}

.benefits__wrapper {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  padding-bottom: 128px;
  background-color: white;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.16);
}

.benefits__title {
  width: 100%;
  position: absolute;
  top: 1px;
  left: 0;
  padding: 93px 100px 88px 100px;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
  color: #000;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
}

.benefits__card-img {
  max-width: 66px;
  flex-grow: 1;
}

.benefits__card-icon {
  margin-bottom: 37px;
  display: block;
}

.benefits__card-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 26px;
}

.benefits__card-text {

  margin-bottom: 39px;
}

.benefits__card-link {}

.benefits__card-link:hover,
.benefits__card-link:focus {
  background: url(../img/arrow-right.svg) no-repeat 95% center;
  transition: 0.2s all;

}

@media screen and (max-width: 992px) {

  .benefits__card {
    display: flex;
    flex-direction: column;
  }

  .benefits__card-img {
    flex-grow: 1;
  }

  .benefits {
    padding-bottom: 30px;
  }

  .benefits__wrapper {
    box-shadow: none;
    padding-bottom: 0;
  }

  .benefits__title {
    padding: 55px 15px;
  }

  .benefits__cards {
    padding: 0;
    grid-column-gap: 25px;
  }
}


@media screen and (max-width:768px) {}

@media screen and (max-width:414px) {
  .benefits__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .benefits__card {
    text-align: center;
    margin-bottom: 50px;
  }

  .benefits__card-icon {
    margin-bottom: 30px;
  }

  .benefits__card-img {
    margin: 0 auto;
  }

  .benefits__card-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .benefits__card-text {
    margin-bottom: 10px;
  }
}
